<div class="container mx-auto ml-4 mt-5" >
        <h2 class="heading mt-2 mb-4">Pending Details</h2>
    </div>
    <div class="row  ml-2 mr-2 " *ngFor="let pending of trainingList">
        <div class="col-lg-4 mx-auto" *ngIf="pending.status === 'A'">
            <div class="alert alert-success">{{pending.mentorDetails.firstName}} Approved your Status on {{pending.mentorSkills.technologies.name}}</div>
        </div>
        <div class="col-lg-4 mx-auto" *ngIf="pending.status === 'D'">
                <div class="alert alert-danger">{{pending.mentorDetails.firstName}} Declined your Status on {{pending.mentorSkills.technologies.name}}</div>
        </div>
        <div class="col-lg-4 mx-auto" *ngIf="pending.status === 'P'">
                <div class="alert alert-warning">Still Yout status is Pending on Trainer : {{pending.mentorDetails.firstName}} on {{pending.mentorSkills.technologies.name}}</div>
        </div>
    </div>
   